{% extends 'base.html' %}
{% block title %}{{ employee.full_name }} - EMS{% endblock %}
{% block content %}
<div class="card p-4">
    <div class="row">
        <div class="col-md-3 text-center">
            {% if employee.profile_photo %}
            <img src="{{ employee.profile_photo.url }}" class="profile-photo mb-3">
            {% else %}
            <i class="bi bi-person-circle" style="font-size: 100px;"></i>
            {% endif %}
            <h5>{{ employee.full_name }}</h5>
            <p class="text-muted">{{ employee.designation }}</p>
            <span class="badge {% if employee.status == 'active' %}badge-status-active{% else %}badge-status-inactive{% endif %} mb-2">
                {{ employee.get_status_display }}
            </span>
            {% if employee.resume %}
            <div><a href="{{ employee.resume.url }}" target="_blank" class="btn btn-sm btn-outline-primary mt-2"><i class="bi bi-file-earmark-text"></i> View Resume</a></div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <table class="table table-borderless">
                <tr><th style="width:200px;">Employee ID</th><td>{{ employee.employee_id }}</td></tr>
                <tr><th>Department</th><td>{{ employee.department.name|default:'-' }}</td></tr>
                <tr><th>Email</th><td>{{ employee.email }}</td></tr>
                <tr><th>Phone</th><td>{{ employee.phone }}</td></tr>
                <tr><th>Gender</th><td>{{ employee.get_gender_display }}</td></tr>
                <tr><th>Date of Birth</th><td>{{ employee.dob }}</td></tr>
                <tr><th>Joining Date</th><td>{{ employee.joining_date }}</td></tr>
                <tr><th>Basic Salary</th><td>₹{{ employee.salary }}</td></tr>
                <tr><th>Address</th><td>{{ employee.address }}, {{ employee.city }}, {{ employee.state }}, {{ employee.country }} - {{ employee.pin_code }}</td></tr>
            </table>
            {% if user.is_admin_role or user.is_hr_role %}
            <a href="{% url 'employees:edit' employee.pk %}" class="btn btn-secondary"><i class="bi bi-pencil"></i> Edit</a>
            <a href="{% url 'employees:delete' employee.pk %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</a>
            {% endif %}
            <a href="{% url 'employees:list' %}" class="btn btn-outline-secondary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
